.activeIcon {
        color: white;
        background-color: #1f1f1f;
    }
    
    .activeButton {
        background: white;
        color: black;
    }
    
    .languageIconActive {
        background: rgb(51 65 85);
        --tw-text-opacity: 1;
        color: white;
    }
    
    .activeCode {
        display: block;
    }
    
    .toggle-checkbox:checked {
        right: 0;
        border: none;
        background-color: white;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' className='h-10 w-10' fill='%23FFF' viewBox='0 0 24 24' stroke='black' > <path strokeLinecap='round' strokeLinejoin='round' d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /> </svg>");
    }
    
    .toggle-checkbox:checked+.toggle-label {
        background-color: black;
    }
    
    .swiper {
        width: 100%;
        height: 400px;
    }
/* -------------------------------------Automatice------------------------ */

.thetdevice{
    font-size:40px;
}

.thetdevice{
  width:500px;
  height:500px;
  color:red;
  animation: myanimation 1s infinite;
}
@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}
  
/*================== Loading=============== */
.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 55;
}

.loader {
    position: relative;
    width: 75px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffff00 50px, transparent 0),
                      linear-gradient(#009900 50px, transparent 0),
                      linear-gradient(#ff0000 50px, transparent 0),
                      linear-gradient(#6600ff 50px, transparent 0),
                      linear-gradient(#00ffff 50px, transparent 0);
    background-size: 8px 100%;
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
    animation: pillerPushUp 4s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: blue;
    border-radius: 50%;
    animation: ballStepUp 4s linear infinite;
  }

@keyframes pillerPushUp {
  0% , 40% , 100%{background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px}
  50% ,  90% {background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px}
}

@keyframes ballStepUp {
  0% {transform: translate(0, 0)}
  5% {transform: translate(8px, -14px)}
  10% {transform: translate(15px, -10px)}
  17% {transform: translate(23px, -24px)}
  20% {transform: translate(30px, -20px)}
  27% {transform: translate(38px, -34px)}
  30% {transform: translate(45px, -30px)}
  37% {transform: translate(53px, -44px)}
  40% {transform: translate(60px, -40px)}
  50% {transform: translate(60px, 0)}
  57% {transform: translate(53px, -14px)}
  60% {transform: translate(45px, -10px)}
  67% {transform: translate(37px, -24px)}
  70% {transform: translate(30px, -20px)}
  77% {transform: translate(22px, -34px)}
  80% {transform: translate(15px, -30px)}
  87% {transform: translate(7px, -44px)}
  90% {transform: translate(0, -40px)}
  100% {transform: translate(0, 0);}
}
    